.x-panel-ktr{border-style:solid;border-color:#99bbe8;border-width:0;}
.x-panel-header-ktr{overflow:hidden;zoom:1;color:#15428b;font:bold 11px tahoma,arial,verdana,sans-serif;padding:5px 4px 4px 5px;border:1px solid #99bbe8;line-height:15px;background:transparent url(/images/default/panel/white-top-bottom.gif) repeat-x 0 -1px;}

.x-panel-bwrap{
left:0;
overflow:hidden;
top:0;}

.x-panel-body
{
		border:1px solid #99bbe8;
		color:#000;
    white-space: nowrap;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-tree-headers {
		background:#F9F9F9 url(/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;
		cursor:default;    
}

.x-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
		background:#F9F9F9 url(/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;    
}

.x-tree-hd-hide {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
		background:#F9F9F9 url(/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;    
		display:none;
}

.x-tree-col-text, .x-tree-hd-text {
    overflow:hidden;
    -o-text-overflow: ellipsis;
	text-overflow: ellipsis;
    padding:3px 3px 3px 5px;
    white-space: nowrap;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}
	
.nodo_nivel_1
{
		margin-left:0px;
		margin-top:5px;		
	}
	
.nodo_nivel_2	
{
		margin-left:15px;
		margin-top:2px;		
}

.nodo_nivel_3
{
		margin-left:30px;
		margin-top:2px;		
}

.nodo_nivel_4
{
		margin-left:45px;
		margin-top:2px;		
}

.tree-fila
{
	display: block;
}

.tree-fila :hover
{
	background: #EBEBEB;
}

.tree-resaltado
{
	background: #FFFF80;
}

.img_elem_tree
{
	float:left;
	background: transparent;
	}
	
.txt_elem_tree
{
	float:left; 
	padding-top:2px; 
	padding-left:2px;	
}

.txt_tree_st
{
	float:left; 
	color:#15428b; 
	font:bold 11px tahoma,arial,verdana,sans-serif;
	padding-top:2px; 
	padding-left:2px;	
}

.img_elem_tree_2
{
		float:left; 
		padding-left:5px;
}

.img_elem_tree_2_hide
{
		float:left; 
		padding-left:5px;
		display: none;
}

.input_dep
{
		text-align:right;
		height:13px;
}

.div_n2_1
{
	margin-left:30px; 
	margin-top:2px;	
	display:none;
	
	/*visibility:hidden;*/
}

.input-n1
{
	float:left; 
	width:100px; 
	/*display:none;	*/
}

.sbTitle
{
		/*width:50px; */
		height:16px; 
		float:left;
		/*display:none;			*/
}

.div_add_dep
{
	float:left; 
	width:547px; 
	margin:5px 5px 5px 18px;
	display:none;		
}

.ktree_head
{
	background: transparent;
	float:left;
}

.ktree_head p
{
	padding: 4px 4px 4px 5px;
}

.ktree_head_fondo
{
	background: transparent url("/images/fondo_4.gif") repeat-x top left;
	height: 23px;
}

.tree-row:hover
{
	background-color: #E4F0F7;
}

.total_n2
{
	padding: 2px 0 2px 50px;
}

.total_n3
{
	padding: 2px 0 2px 70px;
}

.total_n1
{
	padding: 2px 0 2px 7px;
}

.total_n1_2
{
	padding: 2px 0 2px 7px;
	font-weight: bold;	
}