#capainicio{
	position:relative;
}

#capaexpansion{
	position:relative;
	display:none;

}

#capaexpansion2{
	position:relative;
	display:none;

}

#capaexpansion3{
	position:relative;
	display:none;

}

#capaexpansion4{
	position:relative;
	display:none;

}

#capaexpansion5{
	position:relative;
	display:none;

}

#capaexpansion6{
	position:relative;
	display:none;

}

#capaexpansion7{
	position:relative;
	display:none;

}

#capaexpansion8{
	position:relative;
	display:none;

}

#capaexpansion9{
	position:relative;
	display:none;

}

#capaexpansion10{
	position:relative;
	display:none;

}

#capafinal{
	position:relative;
	display:none;

}